name: Deploy workshop workflow

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint-and-format:
    name: Lint + format
    uses: ./.github/workflows/lint-and-format.yml

  version:
    name: Compute Version
    uses: ./.github/workflows/version.yml

  release:
    name: Release version
    needs: [lint-and-format, version]
    uses: ./.github/workflows/release.yml
    with:
      app_version: ${{ needs.version.outputs.app_version }}